<p id="notice"><%= notice %></p>

<h1>Listing Recipes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= recipe.title %></td>
          <td><%= recipe.author %></td>
          <% if !recipe.average_rating.nil? %>
            <td><%= recipe.average_rating.round(1) %></td>
          <% else%>
            <td><%= "New Recipe!" %></td>
          <% end %>
          <td><%= link_to 'Show', recipe %> |</td>
          <td><%= link_to 'Edit', edit_recipe_path(recipe) %> |</td>
          <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
  </tbody>
</table>

<hr/>

<form action="/recipes/search" method="get">
  <label for="recipe_search_input">Search for:</label>
  <input id="recipe_search_input" type="text" name="recipe_search_string"></input>
  <input type="submit" value="Search"></input>
</form>

<hr/>


<%= link_to 'Back to Homepage', root_path %> |

<%= link_to 'New Recipe', new_recipe_path %>
