<p id="notice"><%= notice %></p>
<% content_for(:name, @tag.name) %>

<h1>
  <strong><%= @tag.name %></strong>
</h1>


<a href="/recipes/<%= @tag.recipe_id %>"><p><strong><%= @tag.recipe.title %></strong></p>
</a>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
